.registerOrLogin {
    width: 50%;
    padding: 3rem;
    margin: 25vh auto;
    background-color: #eee;
    text-align: center;
}

.registerOrLogin input {
    margin: 1rem;
}

.registerOrLogin h1 {
    font-size: 3rem;
}

.registerOrLogin button {
    margin-top: 1rem;
}