.featured {
    background: #f7f7f6;
}

.featured__item {
    display: block;
    position: relative;
    transform: scale(.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
    line-height: 1.2;
}

.featured__item:hover,
:focus {
    transform: scale(1);

}

.featured__item::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 75% 75% 0 0;
    border-radius: 50%;
    background: #f9e2ba;
    z-index: -1;
}

.featured__details {
    opacity: 0;
    transition: opacity 250ms linear;
}

.featured__item:hover .featured__details,
.featured__item:focus .featured__details {
    opacity: 1;
    text-shadow: 0 0 1.6rem rgba(#fff, .25);
}

.featured__details span {
    display: block;
    font-weight: 700;
    font-size: 4rem;
}