@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
::after {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 1.6;

}

:root {
  --clr-inner: #f7f7f6;
  --clr-outer: #f9e2ba;
  --clr-accent: radial-gradient(#444, #111);
}

section {
  padding: 11rem 0;
}

p {
  font-size: 2rem;
}


footer {

  background: radial-gradient(#444, #111);
  color: white;
  padding: 8rem 5rem;
  z-index: 999;

}

footer p {
  font-size: 1.3rem;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: white;
}


.container {
  width: 85%;
  margin: 0 auto;
  max-width: 104rem;
}

.section-title {
  text-align: center;
  font-size: clamp(4rem, calc(5vw + 1rem), 6.4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 10rem;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--color-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 0.8rem 2rem;
  background: var(--clr-accent, blue);
  border-radius: .5rem;
  transition: transform 250ms ease-in-out, opacity 250ms linear;

}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: .8;
}

.spacing>*+* {
  margin-top: var(--spacer, 3.2rem);
}

.split {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
  justify-content: center;
}

.split>* {
  flex-basis: 30%;
  min-width: 24rem;
}